/*
    This file is part of UnitbVoting application.

    UnitbVoting is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UnitbVoting is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with UnitbVoting. If not, see <https://www.gnu.org/licenses/>.
*/
.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  border: none;
  height: 40%;
  position: relative;
}

.container {
  height: 100vh
}

.mobile-text {
  color: #989696b8;
  font-size: 15px
}

.form-control {
  margin-right: 12px
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none
}

.cursor {
  cursor: pointer
}

.pageloader {
  background: #eee;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  opacity:1;
  overflow: hidden;
  display: table;
}

.carder {
  width: 30%;
  padding: 10px;
  height: auto;
  border-radius: 20px;
}

.confirmBtn {
  border-radius: 15px;
}
