.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  border: none;
  height: 40%;
  position: relative;
}

.container {
  height: 100vh
}

.mobile-text {
  color: #989696b8;
  font-size: 15px
}

.form-control {
  margin-right: 12px
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none
}

.cursor {
  cursor: pointer
}

.pageloader {
  background: #eee;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  opacity:1;
  overflow: hidden;
  display: table;
}

.carder {
  width: 30%;
  padding: 10px;
  height: auto;
  border-radius: 20px;
}

.confirmBtn {
  border-radius: 15px;
}
