<!DOCTYPE html>
<html>
<body>

<div class="pageloader">
<div class="d-flex flex-column justify-content-center align-items-center container">
  <div class="card py-5 px-3">
    <h5 class="m-0">Mobile phone verification</h5>
       <span class="mobile-text">
         Enter the code we just send on your mobile phone &nbsp;&nbsp;&nbsp;<b class="text-danger">{{phoneNumber}}</b>
       </span>
    <div class="d-flex flex-row mt-5">
      <input type="text"
             class="form-control"
             autofocus=""
             #digitone
             maxlength="1"
             (keyup)="onDigitInput($event)"
             [(ngModel)]="digitOne"
             name="digitOne">
      <input type="text"
             class="form-control"
             ng-model="digitTwo"
             #digittwo
             maxlength="1"
             (keyup)="onDigitInput($event)"
             [(ngModel)]="digitTwo"
             name="digitTwo">
      <input type="text"
             class="form-control"
             ng-model="digitThree"
             #digithhree
             maxlength="1"
             (keyup)="onDigitInput($event)"
             [(ngModel)]="digitThree"
             name="digitThree">
      <input type="text"
             class="form-control"
             ng-model="digitFour"
             #digitfour
             maxlength="1"
             (keyup)="onDigitInput($event)"
             [(ngModel)]="digitFour"
             name="digitFour">
      <input type="text"
             class="form-control"
             ng-model="digitFive"
             #digitfive
             maxlength="1"
             (keyup)="onDigitInput($event)"
             [(ngModel)]="digitFive"
             name="digitFive">
      <input type="text"
             class="form-control"
             ng-model="digitSix"
             #digitsix
             maxlength="1"
             (keyup)="onDigitInput($event)"
             [(ngModel)]="digitSix"
             name="digitSix"
             (keydown.enter)="onSubmit()">
    </div>
    <button class="btn btn-success mt-5 mb-4 confirmBtn"
            type="button" (click)="onSubmit()" *ngIf="!isLoading">
      Verify
    </button>
    <button class="btn btn-success mt-5 mb-4 confirmBtn" type="button" *ngIf="isLoading">
      <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Verifying...
    </button>
    <div class="text-center">
      <span class="d-block mobile-text">
        Don't receive the code?
      </span>
      <span class="font-weight-bold text-danger cursor" (click)="resend()">
        Resend
      </span>
    </div>
  </div>
    <div
      class="carder alert alert-danger"
      role="alert"
      *ngIf="isLoginFailed">
      <b>Form failed</b> : {{ errorMessage }}
    </div>
    <div class="carder
         alert alert-success"
         role="alert"
         *ngIf="resentSucess">
       <b>Form successfull :</b> {{ successMessage }}
    </div>
</div>
</div>

</body>
</html>
