<!--
    This file is part of UnitbVoting application.

    UnitbVoting is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UnitbVoting is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with UnitbVoting. If not, see <https://www.gnu.org/licenses/>.
-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="pageloader">
<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email"
                           name="email"
                           placeholder="email address"
                           class="form-control"
                           type="email"
                           [(ngModel)]="email">
                  </div>
                </div>
                <div class="form-group">
                  <button class="buttonload"
                          *ngIf="!activatedForm"
                          (click)="onSubmit()">
                    <i class="fa  fa-spin"></i>Submit
                  </button>
                  <button class="buttonload" *ngIf="activatedForm">
                    <i class="fa fa-spinner fa-spin"></i>Loading...
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div
        class="carder alert alert-danger"
        role="alert"
        *ngIf="!activatedForm && (showFeedback==2)">
        <b>Form failed</b> : {{ errorMessage }}
      </div>
      <div class="carder alert alert-success"
           role="alert"
           *ngIf="!activatedForm && (showFeedback==1)">
        <b>Form successfull :</b> {{ successfullMessage }}
      </div>
    </div>
  </div>
</div>
</div>

