<!--
    This file is part of UnitbVoting application.

    UnitbVoting is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UnitbVoting is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with UnitbVoting. If not, see <https://www.gnu.org/licenses/>.

Copyright 2020-2021 Sirbu Ionut Claudiu
-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<ng-template #acceptdenytemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmation for application {{AcceptOrDeny ? 'acceptance' : 'denial'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to <b>{{AcceptOrDeny ? 'accept' : 'deny'}} user application</b> for <br> {{memberName | titlecase}} ?
  </div>
  <div class="modal-body text-right">
    <button type="button" class="btn btn-primary mr-2" (click)="confirmAcceptOrDenyModal()">Yes</button>
    <button type="button" class="btn btn-danger mr-3" (click)="disconfirmModal()">No</button>
  </div>
</ng-template>
<ng-template #deletedisabletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">User {{DeleteOrDisable ? 'delete' : (memberDisabled ? 'enable' : 'disable')}} confirmation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to <b>{{DeleteOrDisable ? 'delete' : (memberDisabled ? 'enable' : 'disable')}} user</b> {{memberName | titlecase}} ?
  </div>
  <div class="modal-body text-right">
    <button type="button" class="btn btn-danger mr-2" (click)="confirmDeleteOrDisableModal()">Yes</button>
    <button type="button" class="btn btn-primary mr-3" (click)="disconfirmModal()">No</button>
  </div>
</ng-template>
<div *ngIf="HostHasModeratorRole || HostHasAdministratorRole">
  <div class="container searchContainer">
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-8">
        <ejs-autocomplete id='atcelement' (change)="userSelected($event)" [dataSource]='userNames'
                          [fields]="field" [placeholder]="searchPlaceholder">
        </ejs-autocomplete>
      </div>
      <div class="col-3">
        <ejs-dropdownlist id='ddlelement' (change)="sortByChange($event)"
                          [dataSource]='sortByElements' [value]="sortByElements[0]"
                          placeholder = 'Sort by...'>
        </ejs-dropdownlist>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <ng-multiselect-dropdown
          [placeholder]="'Members filtering options'"
          [settings]="dropdownSettings"
          [data]="dropdownList1"
          (onSelect)="onSelection($event)"
          (onDeSelect)="onDeselection($event)"
          (onSelectAll)="onAllSelect()"
          (onDeSelectAll)="onAllDeselect()">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-5">
        <ng-multiselect-dropdown
          [placeholder]="'Filter by member roles'"
          [settings]="dropdownSettings"
          [data]="dropdownList2"
          (onSelect)="onRoleSelect($event)"
          (onDeSelect)="onRoleDeselect($event)"
          (onSelectAll)="onRoleSelectAll()"
          (onDeSelectAll)="onRoleDeselectAll()">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <div class="loadingDiv" *ngIf="loading">
    <sa-spinner-circular-split [color]="spinnerColor"></sa-spinner-circular-split>
  </div>

  <div *ngIf="!loading">
    <div class="card b-1 hover-shadow mb-20" *ngFor="let member of membriSenat" [class.unactivatedBG]="!member.verifiedApplication">
      <div class="media card-body">
        <div class="media-left pr-12">
          <img class="avatar avatar-xl no-radius pointer"
               [src]="usersImages.get(member.email)"
               (click)="navToProfile(member.id)" alt="...">
        </div>
        <div class="media-body">
          <div class="mb-2">
            <span class="fs-20 pr-16 pointer" (click)="navToProfile(member.id)">{{member.name}}</span>
            <span class="unactivatedTXT" *ngIf="!member.verifiedApplication">( Unactivated )</span>
            <span class="adminTXT" *ngIf="userHasAdministratorRole(member)">( Administrator )</span>
            <span class="modTXT" *ngIf="userHasModeratorRole(member)">( Moderator )</span>
            <span class="userTXT" *ngIf="!member.disabled && member.verifiedApplication && !(userHasAdministratorRole(member) || userHasModeratorRole(member))">
            ( User )
          </span>
            <span class="disabledTXT" *ngIf="member.disabled">( Disabled )</span>
          </div>
          <i class="fa fa-thumbs-up yes pointer"
             aria-hidden="true"
             title="Email verified"
             *ngIf="!member.verifiedApplication && member.verifiedEmail">
          </i>
          <i class="fa fa-thumbs-down not pointer"
             aria-hidden="true"
             title="Email not verified"
             *ngIf="!member.verifiedApplication && !member.verifiedEmail">
          </i>
          <i class="fa fa-envelope verified pointer"
             aria-hidden="true"
             title="Email address"
             *ngIf="member.verifiedApplication">
          </i>
          <small class="fs-16 fw-300 ls-1">   {{member.email}}</small>
        </div>
        <div class="media-right text-right d-none d-md-block">
          <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1"></i>{{member.address}}</p>
          <span class="text-fade"><i class="fa fa-cog pr-1"></i>{{member.institutionalCode}}</span>
        </div>
      </div>
      <footer class="card-footer flexbox align-items-center" [class.unactivatedBG]="!member.verifiedApplication">
        <div>
          <strong>Applied on: </strong>
          <span>{{member.applicationDate}}</span>
        </div>
        <div class="card-hover-show" *ngIf="!member.verifiedApplication">
          <a class="btn btn-xs btn-bold btn-success text-light mr-3"
             (click)="openModalWithClass(acceptdenytemplate, 'AcceptOrDeny', true, member.name, member.id, member.disabled)">
            <i class="fa fa-check fa-lg"></i> Accept</a>
          <a class="btn btn-xs btn-bold btn-danger text-light"
             (click)="openModalWithClass(acceptdenytemplate, 'AcceptOrDeny', false, member.name, member.id, member.disabled)">
            <i class="fa fa-times fa-lg"></i> Deny</a>
        </div>
        <div class="card-hover-show" *ngIf="member.verifiedApplication && !ownProfile(member) &&
      ((!userHasModeratorRole(member) && !userHasAdministratorRole(member) && HostHasModeratorRole) || HostHasAdministratorRole)">
          <a class="btn btn-xs btn-bold btn-warning text-light mr-3" *ngIf="!member.disabled"
             (click)="openModalWithClass(deletedisabletemplate, 'DeleteOrDisable', false, member.name, member.id, member.disabled)">
            <i class="fa fa-ban fa-lg"></i> Disable</a>
          <a class="btn btn-xs btn-bold btn-primary text-light mr-3" *ngIf="member.disabled"
             (click)="openModalWithClass(deletedisabletemplate, 'DeleteOrDisable', false, member.name, member.id, member.disabled)">
            <i class="fa fa-history fa-lg"></i> Enable</a>
          <a class="btn btn-xs btn-bold btn-danger text-light"
             (click)="openModalWithClass(deletedisabletemplate, 'DeleteOrDisable', true, member.name, member.id, member.disabled)">
            <i class="fa fa-trash-o fa-lg"></i>&nbsp;Delete</a>
        </div>
        <div class="card-hover-show" *ngIf="ownProfile(member) ||
      ((userHasModeratorRole(member) || userHasAdministratorRole(member)) && HostHasModeratorRole && !HostHasAdministratorRole)">
          <a class="btn btn-xs btn-bold btn-primary text-light mr-3" (click)="navToProfile(member.id)">
            <i class="fa fa-reply fa-lg"></i>&nbsp;Go to Profile</a>
        </div>
      </footer>
    </div>
  </div>

  <div class="d-flex flex-row-reverse">
    <div class="d-flex justify-content-end pager">
      <mat-paginator [length]=totalUsers
                     showFirstLastButtons="true"
                     [pageSize]=perPage
                     [pageSizeOptions]="[5, 10, 15, 20]"
                     (page)="onPaginateChange($event)"
                     (activate)="onPageActivate($event)">
      </mat-paginator>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="!(HostHasModeratorRole || HostHasAdministratorRole)">
  <div class="alert alert-danger errorMsg">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      ×</button>
    <span class="glyphicon glyphicon-hand-right"></span> <strong> Error</strong>
    <hr class="message-inner-separator">
    You do <b>not have permission</b> to view all members !
  </div>
</div>
