body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}

.loadingDiv {
  margin-top: 40%;
  margin-left: 50%;
}

.main-body {
  padding: 15px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

.activateBtn {
  color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.roleBtnRight {
  float: right;
  margin-top: 5%;
  margin-bottom: 0;
  width: 35%;
}

.roleBtnLeft {
  float: left;
  margin-top: 5%;
  margin-bottom: 0;
  width: 35%;
}

.editable:hover {
  cursor: pointer;
  background-color: #FFFFE0;
}

.error {
  color: red;
}

.successfull {
  color: green;
}

.clickable {
  cursor: pointer;
  color: deepskyblue;
}

.clickable:hover {
  color: deeppink;
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.custom_label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: #DC143C;
  display: block;
  border-radius: 100px;
  position: relative;
}

.custom_label:after {
  content: '';
  position: absolute;
  top: 6%;
  left: 2%;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 26px;
  transition: 0.3s;
}

input:checked + label {
  background: #228B22;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}

.smsInput {
  color: #9400D3;
  background-color: #FFF8DC;
  width: 20%;
}

.middleInputs {
  border-right: 1px solid grey;
}

.incorrectSmsCode {
  border-bottom: 2px solid red;
  border-radius: 4px;
}

.smsError {
  margin-top: 3%;
  margin-bottom: 0%;
  margin-left: 15%;
  margin-right: 8%;
}

input {
  width: auto;
  height: 85%;
  margin-top: 0;
  padding: 0.5em;
  border: 0;
  border-bottom: 2px solid gray;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

input:focus {
  border-bottom: 4px solid black;
  outline: none;
}

.noMarginTop {
  margin-top: 0 !important;
}

.imageOverlay {
  position: relative;
  transform: translate(-145%,-115%);
  opacity: 60%;
}

.imageConfirmation {
  padding: 0;
  width: 110px !important;
}

.imageOverlay:hover {
  opacity: 100%;
}

.marginTop {
  margin-top: 5%;
}

.showPass {
  outline: none !important;
  box-shadow: none !important;
  border:none !important;
  background-color: white;
}

.showPass:hover {
  background-color: #9da0a4;
}

.errorMsg {
  margin-top: 10%;
  width: 50%;
}

.userDisabled {
  margin: 0 0 5%;
  color: red;
  font-style: italic;
  font-size: large;
  font-weight: bold;
}
