.voteDiv {
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  background-color: #008cff;
}

.voteElement {
  margin-top: 5%;
  margin-left: 7%;
}

.dateDiv {
  color: white;
  font-weight: bolder;
}

.pager {
  margin-top: 5%;
}
