label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

body{
  margin-top:20px;
}
.gray-bg{
  background:#eee;
}

.loader {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.loader span{
  color: #1ABC9C;
  font-weight: 300;
  font-size: 60px;
  display: block;
  margin-top: 40px;
}
.sp-hydrogen {
  width: 96px;
  height: 96px;
  clear: both;
  margin: 60px auto;
  position: relative;
  border: 3px #1ABC9C solid;
  border-radius: 50%;
  -webkit-animation: spHydro 0.7s infinite linear;
  animation: spHydro 0.7s infinite linear;
}
.sp-hydrogen:before, .sp-hydrogen:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #252830;
  border-radius: 50%;
}
.sp-hydrogen:before {
  top: calc( 50% - 15px );
  left: calc( 50% - 15px );
}
.sp-hydrogen:after {
  top: -3px;
  left: -3px;
}

@-webkit-keyframes spHydro {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spHydro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
